body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #1F2937;
}

.Header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.Header ul.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    align-items: center;
}

ul.nav-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.Hero {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 80px;
}

.Hero .text,
.Hero .image {
    width: 400px;
}

.Hero .text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0 0 8px;
}

.Hero .text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 8px;
}

button.cta {
    background-color: #3882F6;
    color: white;
    border-style: none;
    padding: 8px 30px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 700;
}

.image {
    display: flex;
    background-color: #6D747D;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}

.Feature {
    padding: 80px;
}

.Feature h3 {
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    margin-bottom: 32px;
}

.Feature .container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-box {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #1F2937;
}

.illustration {
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 16px;
}

.Quote{
    background-color: #E5E7EB;
    padding: 80px 400px;
    font-weight: 300;
}

.Quote p.text{
    margin-bottom: 16px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align:justify;
}

.Quote p.author{
    font-size: 18px;
    text-align: right;
    color: #1F2937;
    font-weight: 700;
}

.CTA{
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.CTA .container{
    display: flex;
    background-color: #3882F6;
    flex: 1;
    justify-content: space-around;
}