body{
    font-family: Roboto, sans-serif;
    margin: 0;
}
.Header{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #1F2937;
}
.Header .logo{
    font-size: 24px;
    color: #F9FAF8;
}

.Header ul.nav-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    align-items: center;
}

ul.nav-links a{
    text-decoration: none;
    color: #E5E7EB;
}