.Header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #1F2937;
}

.Header ul.nav-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

ul.nav-links a{
    text-decoration: none;
    color: #E5E7EB;
}